body{
    margin: 0 auto;
    padding: 0;    
}
.background-image{
    background-image: url('../images/background-image1.jpeg');
    background-size: cover;
}

li{
    list-style: none;
    text-decoration: none;
}
a{
    text-decoration: none;
    margin: 0 auto;
    padding: 0;
}
*{
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 0 auto;
    padding: 0;
}
