#logo{
    text-align: center;
    color: white;
    font-size: 70px;
}
.logo-meny{
    text-align: right;
    background-color: #333;
    padding: 20px 0px 20px 0px;
    & a{
        color:white;
        font-size: 60px;
        font-weight: bold;
        margin-right: 50px;
    }
}

.nav-software{
    width: 100%;
    padding: 20px 0px 20px 0px;
    background-color: #fff;
    border-bottom: 1px solid rgb(199, 199, 199);
    
    & ul{
        & li {
            display: inline-block;
            margin: 0px 15px 0px 15px;

            & a{
                color: #333;
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
}