
.nav-software{
    width: 100%;
    padding: 20px 0px 20px 0px;
    background-color: map-get($colors, bright );
    border-bottom: 1px solid rgb(199, 199, 199);
    
    & ul{
        margin-left: 35px;
        & li {
            display: inline-block;
            margin: 0px 15px 0px 15px;
            @include respond-to('small'){
                display: block;
                text-align: center;
                margin: 5px 0px 5px 0px;
            }

            & a{
                color: map-get($colors, main );
                font-size: 20px;
                @include respond-to('small'){
                    font-size: 25px;
                }
                

                &:hover{
                    
                }
            }
        }
    }
}